

.ui-autocomplete {
  z-index: 1000001 !important; /* Above Blowout */
}

.ui-menu {
  position: absolute;
  min-width: 150px;
  max-width: 100%;
  max-height: 600px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.ui-menu .ui-menu-item {
  margin: 0;
  float: left;
  clear: left;
  border: none;
  text-align: left;
  font-size: 1em;
  width: 100%;
  background-color: #ffffff;
  color: #333333;
  /* border-left: 4px solid #006DC1; */
  text-decoration: none;
  word-wrap: break-word;
  line-height: 1.5;
  zoom: 1;
}

.ui-menu .ui-menu-item-wrapper {
  margin: 3px;
  padding: 10px 15px;
  transition: all 0.15s ease;
}

.ui-menu .ui-menu-item-wrapper.ui-state-hover,
.ui-menu .ui-menu-item-wrapper.ui-state-active {
  font-weight: normal;
  background-color: #F9F9F9;
  color: #333333;
  border: none;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
}

.ui-menu .ui-menu-item a .subitem {
  font-size: 11px;
  display: block;
  width:100%;
  word-wrap: break-word;
}

.ui-autocomplete-loading {
  background: url('/static/img/forms/field/loading.gif') right center no-repeat;
  background-position: right 15px center;
}


/* Autocomplete for Zurb Foundation */
input[type="text"].ui-autocomplete-loading:focus,
input[type="password"].ui-autocomplete-loading:focus,
input[type="date"].ui-autocomplete-loading:focus,
input[type="datetime"].ui-autocomplete-loading:focus,
input[type="datetime-local"].ui-autocomplete-loading:focus,
input[type="month"].ui-autocomplete-loading:focus,
input[type="week"].ui-autocomplete-loading:focus,
input[type="email"].ui-autocomplete-loading:focus,
input[type="number"].ui-autocomplete-loading:focus,
input[type="search"].ui-autocomplete-loading:focus,
input[type="tel"].ui-autocomplete-loading:focus,
input[type="time"].ui-autocomplete-loading:focus,
input[type="url"].ui-autocomplete-loading:focus,
input[type="color"].ui-autocomplete-loading:focus {
  background: #f0f8ff url('/static/img/forms/field/loading.gif') right center no-repeat;
  background-position: right 15px center;
}