


/* Display */
.inline-field .display {

}

.inline-field .display .edit {
  cursor: pointer;
  float: right;
  padding: 0.2em;
  opacity: 0;
  transition: all 0.15s ease;
}


/* Form */

.inline-field .form {
  display: none;
}
.inline-field .pull-left {
  width: calc(100% - 150px); /* minus width of buttons */
}
.inline-field .form .field {
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 0 0.5em;
}
.inline-field .form .button {
  margin: 0;
}

