

.markdown-textarea-field .markdown-source {
  resize: none;
  width: 100%;
  display: none;
}

.markdown-textarea-field .markdown-display {
  border: 1px solid #cccccc;
  padding: 8px;
  margin: 0 0 1rem 0;
  min-height: 114px; /* Needs to match elasticHeigh() usage */
  overflow: auto;
}
