





.ui-dialog {
  z-index: 2000001;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
  border: 1px solid #d6d6d6;
  padding: 8px;
}
.ui-widget-overlay {
  z-index: 2000000;
  background: #000000;
}

.ui-dialog .ui-widget-header {
  background: #2199E8;
  font-weight: normal;
  border: none;
}

.ui-dialog .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog .ui-dialog-content {
  overflow-wrap: break-word;
  padding: 0.5em;
  margin-top: .7em;
}

.ui-dialog .ui-widget-content {
  border: none;
}

.ui-dialog .ui-dialog-buttonpane {
  padding: 0.5em;
}

.ui-dialog .ui-dialog-buttonpane button {
  background: #2199E8;
  color: #ffffff;
  padding: 0.5em 1em;
}





